#table{
    border: 1px solid red;
}
#contentmsv{
    background-color: green;
    font-family: lato;
}
#contentstt{
    background-color: red;
}
#ten{
    background-color: aquamarine;
}
#github{
    text-decoration: none;

}
#hovaten, #stt, #masinhvien, #resume{
    background: yellow;
    text-align: center;
}

#resume{
    width: 160px;
}
/*body > div{*/
/*    margin: auto;*/
/*}*/
button{
    width: 150px;
}
#viewsource{
    text-align: center;
}
#iconopen{
    float: right;
    width: 25px;
}
#icongithub{
    float: right;
    width: 25px;
}