#table{
    border: 1px solid red;
}
#stt{
    background-color: yellow;
}
#hovaten{
    background-color: yellow;
}
#masinhvien{
    background-color: yellow;
}
#contentmsv{
    background-color: green;
    font-family: lato;
}
#contentstt{
    background-color: red;
}
#ten{
    background-color: aquamarine;
}
#github{
    text-decoration: none;

}