#table{
    border: 1px solid red;
}
#contentmsv{
    background-color: green;
    font-family: lato;
}
#contentstt{
    background-color: red;
}
#ten{
    background-color: aquamarine;
}
#github{
    text-decoration: none;

}
#hovaten, #stt, #masinhvien, #resume{
    background: yellow;
}
body > div{
    margin: auto;
}